{% extends 'base.html.twig' %}
{% block infrastructures %} active {% endblock %}

{% block title %} {{Compagny.Name}} {% endblock %}

{% block header %} {% endblock %}

{% block body %}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Nos Infrastructures</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Bibliotheque</h2>
          <p>Bibliotheque</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-6 footer-links">
              <br/>
              <h2><a href ="{{ path ("news")}}">Actualités</a></h2>
              <div class="list-group">
              {% for event in events %}
                <a href="{{ path ("event", {'id': event.id })}}" class="list-group-item list-group-item-action list-group-item-simple" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{event.title}}</h5>
                    
                  </div>
                  <p class="mb-1">{{event.description | raw}}</p>
                  <small class="fst-italic text-center">{{event.created |format_datetime('full', 'none', locale='fr')}}</small>
                </a>
              {% endfor %}
              </div>

          </div>
          <div class="col-lg-9 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <div class="col-lg-2 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="{{ asset (LIBRARY_BASE_PATH ~ library.imageUrl) }}" align ="left" class="img-fluid" style="padding: 10px 10px 0 10px;"  alt="...">
              </div>
              <div class="course-content" >
                <p class="fst-italic text-justify">{{library.description |raw }}</p>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

  </main><!-- End #main -->

{% endblock %}

{% block footer %}
{% endblock %}